$Shark: #1e2022;
$ShuttleGray: #52616b;
$Geyser: #c9d6df;
$BlackSqueeze: #f0f5f9;
$EbonyClay: #222831;
$BrightGray: #393e46;
$BondiBlue: #00adb5;
$EasternBlue: #1c8cbc;
$Mercury: #e3e3e3;
$Gallery: #eeeeee;
