@font-face {
  font-family: "NS Black";
  src: url("../../../fonts/Black.ttf");
}
@font-face {
  font-family: "NS Extra Bold";
  src: url("../../../fonts/ExtraBold.ttf");
}
@font-face {
  font-family: "NS Bold";
  src: url("../../../fonts/Bold.ttf");
}
@font-face {
  font-family: "NS Semi Bold";
  src: url("../../../fonts/SemiBold.ttf");
}
@font-face {
  font-family: "NS Medium";
  src: url("../../../fonts/Medium.ttf");
}
@font-face {
  font-family: "NS Regular";
  src: url("../../../fonts/Regular.ttf");
}
.index_top {
  margin-top: 190px;
}
.index_top .index_top_slide {
  height: 900px;
  position: relative;
}
.index_top .index_top_slide .bg {
  height: 900px !important;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.index_top .index_top_slide .dummy_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .top_text {
  font-family: "NS Bold";
  color: #eeeeee;
  text-transform: uppercase;
  font-size: clamp(1.44rem, 2vw + 1.25rem, 2.15rem);
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt h1 {
  font-family: "NS Black";
  color: #eeeeee;
  text-transform: uppercase;
  font-size: clamp(4.81rem, 7.18vw + 4.52rem, 7.66rem);
  line-height: 130px;
  margin-bottom: 30px;
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 290px;
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-family: "NS Semi Bold";
  color: #eeeeee;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  background-color: #00adb5;
  border-radius: 2px;
  text-decoration: none;
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:first-child {
  width: 140px;
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:last-child {
  width: 115px;
}
.index_top .index_top_slide .index_top_slide_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .top_text {
  font-family: "NS Bold";
  color: #eeeeee;
  text-transform: uppercase;
  font-size: clamp(1.44rem, 2vw + 1.25rem, 2.15rem);
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 {
  font-family: "NS Black";
  color: #eeeeee;
  text-transform: uppercase;
  font-size: clamp(4.81rem, 7.18vw + 4.52rem, 7.66rem);
  line-height: 130px;
  margin-bottom: 30px;
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 290px;
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-family: "NS Semi Bold";
  color: #eeeeee;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  background-color: #00adb5;
  border-radius: 2px;
  text-decoration: none;
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:first-child {
  width: 140px;
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:last-child {
  width: 115px;
}
.index_top .slide_2 .bg {
  background-position: 0 60%;
}/*# sourceMappingURL=Index.module.css.map */