@font-face {
  font-family: "NS Black";
  src: url("../../../fonts/Black.ttf");
}
@font-face {
  font-family: "NS Extra Bold";
  src: url("../../../fonts/ExtraBold.ttf");
}
@font-face {
  font-family: "NS Bold";
  src: url("../../../fonts/Bold.ttf");
}
@font-face {
  font-family: "NS Semi Bold";
  src: url("../../../fonts/SemiBold.ttf");
}
@font-face {
  font-family: "NS Medium";
  src: url("../../../fonts/Medium.ttf");
}
@font-face {
  font-family: "NS Regular";
  src: url("../../../fonts/Regular.ttf");
}
.index_top {
  margin-top: 0px;
}
.index_top .index_top_slide {
  height: 900px;
  position: relative;
}
.index_top .index_top_slide .bg {
  height: 900px !important;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.index_top .index_top_slide .dummy_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .top_text {
  font-family: "NS Bold";
  color: #eeeeee;
  text-transform: uppercase;
  font-size: clamp(1.44rem, 2vw + 1.25rem, 2.15rem);
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt h1 {
  font-family: "NS Black";
  color: #eeeeee;
  text-transform: uppercase;
  font-size: clamp(4.81rem, 7.18vw + 4.52rem, 7.66rem);
  line-height: 130px;
  margin-bottom: 30px;
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 290px;
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-family: "NS Semi Bold";
  color: #eeeeee;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  background-color: #00adb5;
  border-radius: 2px;
  text-decoration: none;
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:first-child {
  width: 140px;
}
.index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:last-child {
  width: 115px;
}
.index_top .index_top_slide .index_top_slide_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .top_text {
  font-family: "NS Bold";
  color: #eeeeee;
  text-transform: uppercase;
  font-size: clamp(1.44rem, 2vw + 1.25rem, 2.15rem);
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 {
  font-family: "NS Black";
  color: #eeeeee;
  text-transform: uppercase;
  font-size: clamp(4.81rem, 7.18vw + 4.52rem, 7.66rem);
  line-height: 130px;
  margin-bottom: 30px;
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 290px;
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-family: "NS Semi Bold";
  color: #eeeeee;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  background-color: #00adb5;
  border-radius: 2px;
  text-decoration: none;
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:hover {
  background-color: #1c8cbc;
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:first-child {
  width: 140px;
}
.index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:last-child {
  width: 115px;
}
.index_top .slide_2 .bg {
  background-position: 0 60%;
}

.index_under_top {
  margin-top: 120px;
  margin-bottom: 120px;
}
.index_under_top .index_under_top_inner {
  max-width: 1740px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
.index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side {
  height: 500px;
}
.index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner {
  border-radius: 15px !important;
  overflow: hidden;
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 99%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}
.index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scale: 1.04;
}
.index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
}
.index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt {
  text-align: center;
}
.index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt h1 {
  line-height: 65px;
  font-family: "NS Extra Bold";
  color: #eeeeee;
  font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  max-width: 400px;
  white-space: pre-wrap;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-family: "NS Semi Bold";
  color: #eeeeee;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  background-color: #00adb5;
  border-radius: 2px;
  text-decoration: none;
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
}
.index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt a:hover {
  background-color: #1c8cbc;
}

.index_browse {
  margin-top: 270px;
  margin-bottom: 350px;
}
.index_browse .index_browse_inner {
  max-width: 1740px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
.index_browse .index_browse_inner .index_browse_inner_top {
  text-align: center;
}
.index_browse .index_browse_inner .index_browse_inner_top h1 {
  font-family: "NS Extra Bold";
  color: #222831;
  font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.index_browse .index_browse_inner .index_browse_inner_top a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-family: "NS Semi Bold";
  color: #eeeeee;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  background-color: #00adb5;
  border-radius: 2px;
  text-decoration: none;
  max-width: 190px;
  margin-left: auto;
  margin-right: auto;
}
.index_browse .index_browse_inner .index_browse_inner_top a:hover {
  background-color: #1c8cbc;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 80px;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide {
  height: 750px;
  overflow: hidden;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner {
  max-width: 450px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.084);
  border-radius: 10px;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_img {
  background-color: rgba(240, 240, 247, 0.3803921569);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_img img {
  max-width: 250px;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details {
  height: 320px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .name_and_type {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .name_and_type .name {
  font-family: "NS Bold";
  font-size: 26px;
  color: #00adb5;
  text-decoration: none;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .name_and_type .name:hover {
  color: #1c8cbc;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .name_and_type .type {
  text-transform: uppercase;
  font-family: "NS Semi Bold";
  font-size: 19px;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_inner_side {
  height: 320px;
  padding: 0;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_L .details_inner_side_cnt .engine_set,
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_L .details_inner_side_cnt .transmission_set,
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_L .details_inner_side_cnt .fuel_eco_set {
  display: block;
  text-align: left;
  height: 76px;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_L .details_inner_side_cnt .engine_set strong,
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_L .details_inner_side_cnt .transmission_set strong,
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_L .details_inner_side_cnt .fuel_eco_set strong {
  display: block;
  font-family: "NS Semi Bold";
  font-size: 18px;
  margin-bottom: 3px;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_L .details_inner_side_cnt .engine_set span,
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_L .details_inner_side_cnt .transmission_set span,
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_L .details_inner_side_cnt .fuel_eco_set span {
  font-family: "NS Medium";
  font-size: 14px;
  opacity: 0.7;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_R {
  display: flex;
  justify-content: flex-end;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_R .details_inner_side_cnt .price_set,
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_R .details_inner_side_cnt .mileage_set {
  text-align: right;
  display: block;
  height: 76px;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_R .details_inner_side_cnt .price_set strong,
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_R .details_inner_side_cnt .mileage_set strong {
  display: block;
  font-family: "NS Semi Bold";
  font-size: 18px;
  margin-bottom: 3px;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_R .details_inner_side_cnt .price_set span,
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_R .details_inner_side_cnt .mileage_set span {
  font-family: "NS Medium";
  font-size: 14px;
  opacity: 0.7;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_R .details_inner_side_cnt .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_R .details_inner_side_cnt .links .buy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: "NS Semi Bold";
  color: #eeeeee;
  font-size: 17px;
  background-color: #00adb5;
  border-radius: 2px;
  text-decoration: none;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-right: 0;
  margin-bottom: 15px;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_R .details_inner_side_cnt .links .buy:hover {
  background-color: #1c8cbc;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_R .details_inner_side_cnt .links .trade {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: "NS Semi Bold";
  color: #eeeeee;
  font-size: 17px;
  background-color: #00adb5;
  border-radius: 2px;
  text-decoration: none;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-right: 0;
  margin-bottom: 15px;
}
.index_browse .index_browse_inner .index_browse_inner_slider_holder .slider_slide .slider_slide_inner .slider_slide_inner_details .details_inner_box .details_inner_row .details_R .details_inner_side_cnt .links .trade:hover {
  background-color: #1c8cbc;
}

@media all and (max-width: 1995px) {
  .index_top .index_top_slide .index_top_slide_overlay,
  .index_top .index_top_slide .dummy_overlay {
    padding-left: 120px;
    padding-right: 120px;
  }
  .index_under_top .index_under_top_inner {
    padding-left: 60px;
    padding-right: 60px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side {
    height: 420px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner {
    height: 420px;
    max-width: 100%;
  }
}
@media all and (max-width: 991px) {
  .index_top {
    margin-top: 0;
  }
  .index_top .index_top_slide {
    height: 670px;
  }
  .index_top .index_top_slide .bg {
    height: 670px !important;
  }
  .index_top .index_top_slide .index_top_slide_overlay,
  .index_top .index_top_slide .dummy_overlay {
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .top_text {
    font-size: 28px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt h1 {
    font-size: 110px;
    line-height: 130px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links {
    margin-left: auto;
    margin-right: auto;
    max-width: 240px;
    display: grid;
    justify-content: center;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a {
    margin-left: auto;
    margin-right: auto;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:first-child {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:last-child {
    width: 107px;
  }
  .index_under_top {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .index_under_top .index_under_top_inner {
    padding-left: 60px;
    padding-right: 60px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side {
    height: 310px;
    width: 100%;
    max-width: 50%;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner {
    height: 310px;
    max-width: 100%;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt h1 {
    font-size: 30px;
    max-width: 70%;
    line-height: 40px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt a {
    font-size: 15px;
    max-width: 120px;
  }
}
@media all and (max-width: 768px) {
  .index_top {
    margin-top: 0;
  }
  .index_top .index_top_slide {
    height: 560px;
  }
  .index_top .index_top_slide .bg {
    height: 560px !important;
  }
  .index_top .index_top_slide .index_top_slide_overlay,
  .index_top .index_top_slide .dummy_overlay {
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt {
    padding-bottom: 20px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .top_text {
    font-size: 22px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt h1 {
    font-size: 70px;
    line-height: 100px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links {
    margin-left: auto;
    margin-right: auto;
    max-width: 240px;
    display: grid;
    justify-content: center;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:first-child {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:last-child {
    width: 107px;
  }
  .index_under_top {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .index_under_top .index_under_top_inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 530px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side {
    height: 310px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner {
    height: 310px;
    max-width: 100%;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt h1 {
    font-size: 30px;
    max-width: 70%;
    line-height: 40px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt a {
    font-size: 14px;
    max-width: 110px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_R {
    margin-bottom: 0;
  }
}
@media all and (max-width: 419px) {
  .index_top {
    margin-top: 0;
  }
  .index_top .index_top_slide {
    height: 420px;
  }
  .index_top .index_top_slide .bg {
    height: 420px !important;
  }
  .index_top .index_top_slide .index_top_slide_overlay,
  .index_top .index_top_slide .dummy_overlay {
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt {
    padding-bottom: 20px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .top_text {
    font-size: 22px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt h1 {
    font-size: 40px;
    line-height: 55px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links {
    margin-left: auto;
    margin-right: auto;
    max-width: 240px;
    display: grid;
    justify-content: center;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a {
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    height: 40px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:first-child {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:last-child {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index_under_top {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .index_under_top .index_under_top_inner {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 530px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side {
    height: 220px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner {
    height: 220px;
    max-width: 100%;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt h1 {
    font-size: 25px;
    max-width: 70%;
    line-height: 30px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt a {
    font-size: 13px;
    max-width: 100px;
    height: 35px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_R {
    margin-bottom: 0;
  }
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    margin-top: 0;
  }
  .index_top .index_top_slide {
    height: 320px;
  }
  .index_top .index_top_slide .bg {
    height: 320px !important;
  }
  .index_top .index_top_slide .index_top_slide_overlay,
  .index_top .index_top_slide .dummy_overlay {
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt {
    padding-bottom: 20px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .top_text {
    font-size: 22px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt h1 {
    font-size: 60px;
    line-height: 65px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links {
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    display: flex;
    justify-content: space-evenly;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a {
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    height: 40px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:first-child {
    width: 110px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:last-child {
    width: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index_under_top {
    margin-top: 35px;
    margin-bottom: 30px;
  }
  .index_under_top .index_under_top_inner {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 530px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side {
    height: 200px;
    width: 100%;
    max-width: 50%;
    margin-bottom: 0px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner {
    height: 200px;
    max-width: 100%;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt h1 {
    font-size: 25px;
    max-width: 70%;
    line-height: 30px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt a {
    font-size: 13px;
    max-width: 100px;
    height: 35px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    margin-top: 0;
  }
  .index_top .index_top_slide {
    height: 520px;
  }
  .index_top .index_top_slide .bg {
    height: 520px !important;
  }
  .index_top .index_top_slide .index_top_slide_overlay,
  .index_top .index_top_slide .dummy_overlay {
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt {
    padding-bottom: 20px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .top_text {
    font-size: 22px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt h1 {
    font-size: 75px;
    line-height: 85px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    display: flex;
    justify-content: space-evenly;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    height: 40px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:first-child {
    width: 140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:last-child {
    width: 120px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index_under_top {
    margin-top: 35px;
    margin-bottom: 30px;
  }
  .index_under_top .index_under_top_inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 830px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side {
    height: 300px;
    width: 100%;
    max-width: 50%;
    margin-bottom: 0px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner {
    height: 300px;
    max-width: 100%;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt h1 {
    font-size: 32px;
    max-width: 70%;
    line-height: 40px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt a {
    font-size: 15px;
    max-width: 120px;
    height: 35px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    margin-top: 0;
  }
  .index_top .index_top_slide {
    height: 380px;
  }
  .index_top .index_top_slide .bg {
    height: 380px !important;
  }
  .index_top .index_top_slide .index_top_slide_overlay,
  .index_top .index_top_slide .dummy_overlay {
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt {
    padding-bottom: 20px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .top_text {
    font-size: 22px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt h1 {
    font-size: 75px;
    line-height: 85px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    display: flex;
    justify-content: space-evenly;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    height: 40px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:first-child {
    width: 140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:last-child {
    width: 120px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index_under_top {
    margin-top: 35px;
    margin-bottom: 30px;
  }
  .index_under_top .index_under_top_inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 830px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side {
    height: 300px;
    width: 100%;
    max-width: 50%;
    margin-bottom: 0px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner {
    height: 300px;
    max-width: 100%;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt h1 {
    font-size: 32px;
    max-width: 70%;
    line-height: 40px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt a {
    font-size: 15px;
    max-width: 120px;
    height: 35px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .index_top {
    margin-top: 0px;
    z-index: 400;
  }
  .index_top .index_top_slide {
    height: 520px;
  }
  .index_top .index_top_slide .bg {
    height: 520px !important;
  }
  .index_top .index_top_slide .index_top_slide_overlay,
  .index_top .index_top_slide .dummy_overlay {
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt {
    padding-bottom: 20px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .top_text {
    font-size: 22px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt h1 {
    font-size: 75px;
    line-height: 85px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    display: flex;
    justify-content: space-evenly;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    height: 40px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:first-child {
    width: 140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:last-child {
    width: 120px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index_under_top {
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .index_under_top .index_under_top_inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 930px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side {
    height: 300px;
    width: 100%;
    max-width: 50%;
    margin-bottom: 0px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner {
    height: 300px;
    max-width: 100%;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt h1 {
    font-size: 36px;
    max-width: 70%;
    line-height: 40px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt a {
    font-size: 15px;
    max-width: 120px;
    height: 35px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    margin-top: 0px;
    z-index: 400;
  }
  .index_top .index_top_slide {
    height: 520px;
  }
  .index_top .index_top_slide .bg {
    height: 520px !important;
  }
  .index_top .index_top_slide .index_top_slide_overlay,
  .index_top .index_top_slide .dummy_overlay {
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt {
    padding-bottom: 20px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .top_text {
    font-size: 22px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt h1 {
    font-size: 75px;
    line-height: 85px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    display: flex;
    justify-content: space-evenly;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    height: 40px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:first-child {
    width: 140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:last-child {
    width: 120px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index_under_top {
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .index_under_top .index_under_top_inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1130px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side {
    height: 300px;
    width: 100%;
    max-width: 50%;
    margin-bottom: 0px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner {
    height: 300px;
    max-width: 100%;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt h1 {
    font-size: 36px;
    max-width: 70%;
    line-height: 40px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt a {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    height: 40px;
    max-width: 120px;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    margin-top: 0px;
    z-index: 400;
  }
  .index_top .index_top_slide {
    height: 570px;
  }
  .index_top .index_top_slide .bg {
    height: 570px !important;
  }
  .index_top .index_top_slide .index_top_slide_overlay,
  .index_top .index_top_slide .dummy_overlay {
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt {
    padding-bottom: 20px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .top_text,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .top_text {
    font-size: 25px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt h1,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt h1 {
    font-size: 85px;
    line-height: 95px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    display: flex;
    justify-content: space-evenly;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    height: 40px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:first-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:first-child {
    width: 140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
  }
  .index_top .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .index_top_slide_overlay .dummy_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .index_top_slide_overlay_cnt .links a:last-child,
  .index_top .index_top_slide .dummy_overlay .dummy_overlay_cnt .links a:last-child {
    width: 120px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index_under_top {
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .index_under_top .index_under_top_inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1230px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side {
    height: 340px;
    width: 100%;
    max-width: 50%;
    margin-bottom: 0px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner {
    height: 340px;
    max-width: 100%;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt h1 {
    font-size: 42px;
    max-width: 70%;
    line-height: 50px;
  }
  .index_under_top .index_under_top_inner .index_under_top_inner_box .index_under_top_inner_row .index_under_top_side .index_under_top_side_inner .index_under_top_side_overlay .index_under_top_side_overlay_cnt a {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    height: 40px;
    max-width: 120px;
  }
}/*# sourceMappingURL=Index.module.css.map */