// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "NS Black";
  src: url("../../../fonts/Black.ttf");
}
@font-face {
  font-family: "NS Extra Bold";
  src: url("../../../fonts/ExtraBold.ttf");
}
@font-face {
  font-family: "NS Bold";
  src: url("../../../fonts/Bold.ttf");
}
@font-face {
  font-family: "NS Semi Bold";
  src: url("../../../fonts/SemiBold.ttf");
}
@font-face {
  font-family: "NS Medium";
  src: url("../../../fonts/Medium.ttf");
}
@font-face {
  font-family: "NS Regular";
  src: url("../../../fonts/Regular.ttf");
}

// Desktop
.index_top {
  margin-top: 190px;
  // background-color: $Gallery;

  .index_top_slide {
    height: 900px;
    position: relative;

    .bg {
      height: 900px !important;
      width: 100%;
      @include bGSU(cover, center);
    }

    .dummy_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      @include displayElement(flex, flex-start, center);
      // opacity: 0;
      opacity: 1;

      .dummy_overlay_cnt {
        max-width: 1540px;
        @include quickCenter("relative");
        width: 100%;
        transition: 0.5s ease-in-out;

        .top_text {
          font-family: "NS Bold";
          color: $Gallery;
          text-transform: uppercase;
          font-size: $Logo;
        }

        h1 {
          font-family: "NS Black";
          color: $Gallery;
          text-transform: uppercase;
          font-size: $MegaHeading;
          line-height: 130px;
          margin-bottom: 30px;
        }

        .links {
          @include displayElement(flex, space-between, center);
          max-width: 290px;

          a {
            @include displayElement(flex, center, center);
            height: 45px;
            font-family: "NS Semi Bold";
            color: $Gallery;
            font-size: $Link;
            background-color: $BondiBlue;
            border-radius: 2px;
            text-decoration: none;

            &:first-child {
              width: 140px;
            }

            &:last-child {
              width: 115px;
            }
          }
        }
      }
    }

    .index_top_slide_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.65);
      top: 0;
      left: 0;
      @include displayElement(flex, flex-start, center);

      .index_top_slide_overlay_cnt {
        max-width: 1540px;
        @include quickCenter("relative");
        width: 100%;
        transition: 0.5s ease-in-out;

        .top_text {
          font-family: "NS Bold";
          color: $Gallery;
          text-transform: uppercase;
          font-size: $Logo;
        }

        h1 {
          font-family: "NS Black";
          color: $Gallery;
          text-transform: uppercase;
          font-size: $MegaHeading;
          line-height: 130px;
          margin-bottom: 30px;
        }

        .links {
          @include displayElement(flex, space-between, center);
          max-width: 290px;

          a {
            @include displayElement(flex, center, center);
            height: 45px;
            font-family: "NS Semi Bold";
            color: $Gallery;
            font-size: $Link;
            background-color: $BondiBlue;
            border-radius: 2px;
            text-decoration: none;

            &:first-child {
              width: 140px;
            }

            &:last-child {
              width: 115px;
            }
          }
        }
      }
    }
  }

  .slide_2 {
    .bg {
      background-position: 0 60%;
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}
