@import "~@fortawesome/fontawesome-free/css/all.css";

// Desktop
.overrides_IndexTop {
  .slick-slider {
    position: relative;

    .slide-cnt {
      transition: 0.5s ease-in-out !important;
    }

    .fade-out {
      opacity: 0;
      // transform: translateX(-30px);
    }

    .fade-in {
      opacity: 1;
      // transform: translateX(0);
    }

    .slick-list {
      .slick-track {
        .slick-slide {
          .bg {
            transition: 0.5s ease-in-out;
            scale: 1;
          }
        }

        .slick-active {
          .bg {
            scale: 1.15;
          }
        }
      }
    }

    .slick-dots {
      position: absolute;
      width: 100%;
      bottom: 0px;
      right: 0;
      max-width: 250px;
      margin-left: auto;
      margin-right: 140px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;

      li {
        margin: 15px;

        button {
          &::before {
            font-size: 34px;
            color: white;
            opacity: 1;
            transition: 0.5s ease-in-out;
          }

          &:hover {
            &::before {
              color: rgb(148, 148, 148);
            }
          }
        }
      }

      .slick-active {
        button {
          &::before {
            color: #00adb5;
          }

          &:hover {
            &::before {
              color: #2be7f1;
            }
          }
        }
      }
    }

    .slick-prev {
      left: 0% !important;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      max-width: 100px;
      background-color: rgba(0, 0, 0, 0.3);
      transform: translate(0, 0);
      transition: 0.5s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }

      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f060";
        font-weight: 900;
      }
    }

    .slick-disabled {
      pointer-events: none !important;
    }

    .slick-next {
      right: 0% !important;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      max-width: 100px;
      background-color: rgba(0, 0, 0, 0.3);
      transform: translate(0, 0);
      transition: 0.5s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }

      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f061";
        font-weight: 900;
      }
    }
  }
}
.overrides_IndexBrowse {
  .slick-dots {
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    li {
      margin: 10px;

      button {
        &::before {
          font-size: 28px;
          color: #222831;
          opacity: 1;
          transition: 0.5s ease-in-out;
        }

        &:hover {
          &::before {
            color: rgb(148, 148, 148);
          }
        }
      }
    }

    .slick-active {
      button {
        &::before {
          color: #00adb5;
        }

        &:hover {
          &::before {
            color: #2be7f1;
          }
        }
      }
    }
  }

  .slick-slider {
    .slick-prev {
      left: -3.8% !important;
      z-index: 1;
      width: 100%;
      height: 82.4%;
      top: 0;
      max-width: 100px;
      background-color: rgba(0, 0, 0, 0.3);
      transform: translate(0, 0);
      transition: 0.5s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }

      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f060";
        font-weight: 900;
      }
    }

    .slick-next {
      right: -3.8% !important;
      z-index: 1;
      width: 100%;
      height: 82.4%;
      top: 0;
      max-width: 100px;
      background-color: rgba(0, 0, 0, 0.3);
      transform: translate(0, 0);
      transition: 0.5s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }

      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f061";
        font-weight: 900;
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }

  .overrides_IndexBrowse {
    .slick-slider {
      .slick-prev {
        max-width: 80px;
        left: -4.4% !important;
      }
      .slick-next {
        max-width: 80px;
        right: -4.4% !important;
      }
    }
  }
}

@media all and (max-width: 991px) {
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }

  .overrides_IndexTop {
    .slick-slider {
      .slick-dots {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        margin-left: auto;
        margin-right: auto;

        li {
          margin-left: 10px;

          button {
            &::before {
              font-size: 24px;
            }
          }
        }
      }

      .slick-next,
      .slick-prev {
        max-width: 40px;
      }
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }

  .overrides_IndexTop {
    .slick-slider {
      .slick-dots {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        margin-left: auto;
        margin-right: auto;

        li {
          margin: 5px;
          margin-left: 10px;

          button {
            &::before {
              font-size: 24px;
            }
          }
        }
      }

      .slick-next,
      .slick-prev {
        max-width: 40px;
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }

  .overrides_IndexTop {
    .slick-slider {
      .slick-dots {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        margin-left: auto;
        margin-right: auto;

        li {
          margin: 5px;
          margin-left: 10px;

          button {
            &::before {
              font-size: 18px;
            }
          }
        }
      }

      .slick-next,
      .slick-prev {
        max-width: 30px;
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }

  .overrides_IndexTop {
    .slick-slider {
      .slick-dots {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        margin-left: auto;
        margin-right: auto;

        li {
          margin: 5px;
          margin-left: 10px;

          button {
            &::before {
              font-size: 15px;
            }
          }
        }
      }

      .slick-next,
      .slick-prev {
        max-width: 40px;
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }

  .overrides_IndexTop {
    .slick-slider {
      .slick-dots {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        margin-left: auto;
        margin-right: auto;

        li {
          margin: 5px;
          margin-left: 10px;

          button {
            &::before {
              font-size: 20px;
            }
          }
        }
      }

      .slick-next,
      .slick-prev {
        max-width: 40px;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }

  .overrides_IndexTop {
    .slick-slider {
      .slick-dots {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        margin-left: auto;
        margin-right: auto;

        li {
          margin: 5px;
          margin-left: 10px;

          button {
            &::before {
              font-size: 20px;
            }
          }
        }
      }

      .slick-next,
      .slick-prev {
        max-width: 40px;
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }

  .overrides_IndexTop {
    .slick-slider {
      .slick-dots {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        margin-left: auto;
        margin-right: auto;

        li {
          margin: 5px;
          margin-left: 10px;

          button {
            &::before {
              font-size: 20px;
            }
          }
        }
      }

      .slick-next,
      .slick-prev {
        max-width: 40px;
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }

  .overrides_IndexTop {
    .slick-slider {
      .slick-dots {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        margin-left: auto;
        margin-right: auto;

        li {
          margin: 5px;
          margin-left: 10px;

          button {
            &::before {
              font-size: 20px;
            }
          }
        }
      }

      .slick-next,
      .slick-prev {
        max-width: 40px;
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }

  .overrides_IndexTop {
    .slick-slider {
      .slick-dots {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        margin-left: auto;
        margin-right: auto;

        li {
          margin: 10px;
          margin-left: 7px;

          button {
            &::before {
              font-size: 25px;
            }
          }
        }
      }

      .slick-next,
      .slick-prev {
        max-width: 40px;
      }
    }
  }
  .overrides_IndexBrowse {
    .slick-slider {
      .slick-prev {
        height: 89.5%;
      }

      .slick-next {
        height: 89.5%;
      }
    }
  }
}
